<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Amongusoveraly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Amongusoveraly.Properties.Settings>
      <setting name="MainradarX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainradarY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainNameX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainNameY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIradarX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIradarY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUINameX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUINameY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUITPX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUITPY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIShortcutsX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIShortcutsY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIHostX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIHostY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUIradarClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GUINameClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GUITPClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GUIShortcutsClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GUIHostClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideRadar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HidePlayer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="src" serializeAs="String">
        <value>null</value>
      </setting>
    </Amongusoveraly.Properties.Settings>
  </userSettings>
</configuration>